@page "/Beginner/binaryToDecimal"
@using SmallApplications_Blazor.ViewModels.Beginner;

<PageTitle>BinaryToDecimal</PageTitle>

<MudAlert Severity="Severity.Info" Elevation="5">
	Bin2Dec allows the user to enter strings of binary digits, 0's and 1's, in any sequence and then displays its decimal equivalent.
</MudAlert>
<br />
<MudAlert Severity="Severity.Info" Elevation="5">
	Bin2Dec allows the user to enter strings of decimal number and then displays its binary equivalent.
</MudAlert>
<br />
<div class="d-flex justify-center">
	<MudPaper Class="pa-8" Elevation="5">
		<MudTextField T="string"
					  Label="Binary"
					  Placeholder="Enter binary number"
					  @bind-Value="vm.Binary" />
		<MudTextField T="string"
					  Label="Decimal"
					  Placeholder="Enter decimal number"
					  @bind-Value="vm.Decimal" />
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   Color="Color.Primary"
				   OnClick="vm.ConvertDecimal">
			Convert to Decimal
		</MudButton>
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   Color="Color.Secondary"
				   OnClick="vm.ConvertBinary">
			Convert to Binary
		</MudButton>
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   OnClick="vm.Reset">
			Reset
		</MudButton>
	</MudPaper>
</div>
@if (vm.HasError)
{
	<MudAlert Class="mb-6 mt-5"
		  Severity="Severity.Error"
		  Elevation="20"
		  Variant="Variant.Filled">@vm.ReturnMessage</MudAlert>
}
@code {
	public BinaryToDecimalConverterViewModel vm = new BinaryToDecimalConverterViewModel();

	void ShowAlert(string message, Severity severity)
	{
		_snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
		_snackbar.Add(message, severity, config =>
		{
			config.ShowCloseIcon = true;
		});
	}

}
