@page "/Beginner/dollarToCent"
@using SmallApplications_Blazor.ViewModels.Beginner;

<PageTitle>DollarToCent</PageTitle>

<MudAlert Severity="Severity.Info" Elevation="5">
	Dollars to Cents allows user to enter a dollar value and then displays the total cents.
	And how many were pennies, nickels, quarters and dimes from the total cents
</MudAlert>
<br />
<MudGrid>
	<MudItem xs="12" sm="7">
		<MudPaper Class="pa-8" Elevation="5">
			<MudTextField T="string"
						  Label="Dollar value"
						  Placeholder="Enter dollar value"
						  @bind-Value="vm.DollarValue" />
			<MudButton Class="mt-5"
					   Variant="Variant.Filled"
					   Color="Color.Secondary"
					   OnClick="vm.Convert">
				Convert to Cents
			</MudButton>
			<MudButton Class="mt-5"
					   Variant="Variant.Filled"
					   OnClick="vm.Reset">
				Reset
			</MudButton>
		</MudPaper>
	</MudItem>
	<MudItem xs="12" sm="5">
		<MudPaper Class="pa-4 mud-height-full" Elevation="5" MaxHeight="100%">
			<MudText Typo="Typo.h6">Result: @vm.Cents cents</MudText>
			<MudSimpleTable Striped="true" Style="overflow-x: auto;">
				<thead>
					<tr>
						<th>Coins</th>
						<th>Count</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var coin in vm.CoinResults)
					{
						<tr>
							<td>@coin.DisplayName</td>
							<td class="text-center">@coin.Amount</td>
						</tr>
					}
				</tbody>
			</MudSimpleTable>
		</MudPaper>
	</MudItem>
</MudGrid>
@if (vm.HasError)
{
	<MudAlert Class="mb-6 mt-5"
		  Severity="Severity.Error"
		  Elevation="20"
		  Variant="Variant.Filled">@vm.ReturnMessage</MudAlert>
}
@code {
	public DollarToCentConverterViewModel vm = new DollarToCentConverterViewModel();
}