@page "/Beginner/mainBeginner"

<PageTitle>MainBeginner</PageTitle>

<div class="lp-app-grid">
	<MudCard Elevation="5">
		<MudCardHeader>
			<CardHeaderContent>
				<MudText Style="color: #448AFF" Typo="Typo.h6">Bin2Dec</MudText>
				<MudText Typo="Typo.body2">Binary-to-Decimal number converter</MudText>
			</CardHeaderContent>
			<CardHeaderActions>
				<MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight"
							   Size="Size.Large"
							   Color="Color.Tertiary"
							   Href="/Beginner/binaryToDecimal" />
			</CardHeaderActions>
		</MudCardHeader>
	</MudCard>
	<MudCard Elevation="5">
		<MudCardHeader>
			<CardHeaderContent>
				<MudText Style="color: #448AFF" Typo="Typo.h6">Dollars to Cents</MudText>
				<MudText Typo="Typo.body2">Convert dollars to cents</MudText>
			</CardHeaderContent>
			<CardHeaderActions>
				<MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight"
							   Size="Size.Large"
							   Color="Color.Tertiary"
							   Href="/Beginner/dollarToCent" />
			</CardHeaderActions>
		</MudCardHeader>
	</MudCard>
	<MudCard Elevation="5">
		<MudCardHeader>
			<CardHeaderContent>
				<MudText Style="color: #448AFF" Typo="Typo.h6">Roman to Decimal</MudText>
				<MudText Typo="Typo.body2">Convert Roman to Decimal numbers</MudText>
			</CardHeaderContent>
			<CardHeaderActions>
				<MudIconButton Icon="@Icons.Material.Filled.ArrowCircleRight"
							   Size="Size.Large"
							   Color="Color.Tertiary"
							   Href="/Beginner/romanToDecimal" />
			</CardHeaderActions>
		</MudCardHeader>
	</MudCard>
</div>

