@page "/Beginner/romanToDecimal"
@using SmallApplications_Blazor.ViewModels.Beginner;

<PageTitle>RomanToDecimal</PageTitle>

<MudAlert Severity="Severity.Info" Elevation="5">
	Roman to Decimal takes numbers represented as roman numerals from input strings
	and converts them to their decimal value.
</MudAlert>
<br />
<MudAlert Severity="Severity.Info" Elevation="5">
	Roman to Decimal allows the user to enter strings of decimal number and
	then displays its roman equivalent.
</MudAlert>
<br />
<div class="d-flex justify-center">
	<MudPaper Class="pa-8" Elevation="5">
		<MudTextField T="string"
					  Label="Roman Numeral"
					  Placeholder="Enter roman numeral"
					  @bind-Value="vm.Roman" />
		<MudTextField T="string"
					  Label="Decimal"
					  Placeholder="Enter decimal number"
					  @bind-Value="vm.Decimal" />
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   Color="Color.Primary"
				   OnClick="vm.ConvertDecimal">
			Convert to Decimal
		</MudButton>
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   Color="Color.Secondary"
				   OnClick="vm.ConvertRoman">
			Convert to Roman
		</MudButton>
		<MudButton Class="mt-5"
				   Variant="Variant.Filled"
				   OnClick="vm.Reset">
			Reset
		</MudButton>
	</MudPaper>
</div>
@if (vm.HasError)
{
	<MudAlert Class="mb-6 mt-5"
		  Severity="Severity.Error"
		  Elevation="20"
		  Variant="Variant.Filled">@vm.ReturnMessage</MudAlert>
}
@code {
	public RomanToDecimalConverterViewModel vm = new RomanToDecimalConverterViewModel();
}
