@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration config

<PageTitle>Home</PageTitle>

<div class="d-flex justify-center">
	<MudImage Class="rounded-lg"
			  Src="images/app-ideas.png"
			  Height="250"
			  Width="700"
			  ObjectPosition="ObjectPosition.Center"
			  Elevation="25">
	</MudImage>
</div>
<br />
<MudText Typo="Typo.h6">
	Sample applications from <MudLink Href="https://github.com/florinpop17/app-ideas" Target="_blank">app-ideas</MudLink> written in Blazor, .NET 6
	and MudBlazor as Blazor  Component Library.
</MudText>